{%- assign experience = data.experience %}
{%- if experience and experience.show %}
<section class="experience" style="order: {{ experience.order | default: 1 }}">
  <div class="section-title">
    <i class="section-icon fa-solid fa-briefcase"></i>
    <h2>{{ experience.title }}</h2>
  </div>

  <div class="section-content">
    {%- if experience.description.size > 0 %}
    <div class="description markdown">
      {{ experience.description | markdownify }}
    </div>
    {%- endif %}

    {%- if experience.items %}
    <div class="items">
      {%- for item in experience.items %}
      <div class="item">

        {%- if item.company %}
        {%- assign prev_company = '' %}
        {%- if forloop.index0 > 0 %}
        {%- assign prev_index = forloop.index0 | minus: 1 %}
        {%- assign prev_company = experience.items[prev_index].company %}
        {%- endif %}
        {%- assign next_company = '' %}
        {%- unless forloop.last %}
        {%- assign next_index = forloop.index0 | plus: 1 %}
        {%- assign next_company = experience.items[next_index].company %}
        {%- endunless %}
        {%- assign grouped = false %}
        {%- if item.company == prev_company or item.company == next_company %}
        {%- assign grouped = true %}
        {%- endif %}

        {%- if item.company != prev_company %}
        <div class="row">
          <div class="company">
            {%- if item.link %}
            <a href="{{ item.link }}" target="_blank">{{ item.company }}</a>
            {%- else %}
            <span>{{ item.company }}</span>
            {%- endif %}
            {%- if item.tags %}
            <small>[{{ item.tags }}]</small>
            {%- endif %}
          </div>
          <div class="date">
            {%- unless grouped %}
            <span>{{ item.date }}</span>
            {%- endunless %}
          </div>
        </div>
        {%- endif %}

        <div class="row">
          <div class="role">
            <span>{{ item.role }}</span>
          </div>
          <div class="location">
            {%- if grouped %}
            <span>{{ item.date }}</span>
            {%- else %}
            <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
            <span>{{ item.location }}</span>
            {%- endif %}
          </div>
        </div>

        {%- if item.description.size > 0 %}
        <div class="description markdown">
          {{ item.description | markdownify }}
        </div>
        {%- endif %}
        {%- endif %}

      </div>
      {%- endfor %}
    </div>
    {%- endif %}
  </div>
</section>
{%- endif %}
